[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imutils = "*"
click = "*"
redis = "*"
python-decouple = "*"
pyserial = "*"
numpy = "*"
rplidar = "*"

[dev-packages]
autopep8 = "*"

[requires]
